{port_env,
 [{"darwin", "LDFLAGS", "-framework CoreFoundation -framework CoreServices"},
  {"darwin", "CC", "clang"},
  {"darwin", "CFLAGS", "-Wno-deprecated-declarations"},
  {"freebsd", "LDFLAGS", ""},
  {"freebsd", "CC", "cc"},
  {"freebsd", "CFLAGS", ""}]
}.

{port_specs,
 [{"darwin", "priv/mac_listener", ["c_src/mac/*.c"]},
  {"freebsd", "priv/kqueue", ["c_src/bsd/*.c"]}
  ]}.

{plugins, [pc]}.
{provider_hooks, [
    {pre, [
        {compile, {pc, compile}},
        {clean,   {pc, clean}}
    ]}
]}.
%{pre_hooks, [
%             {"win32",  compile, "make -f c_src/windows/Makefile"},
%             {"win32",  clean,   "make -f c_src/windows/Makefile clean"}
%            ]
%}.
